footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    width: 50%;
    justify-content: space-between;
    padding-bottom: 4rem;
}
.contenedor img{
    height: 40px;
}
.copy{
    font-size: 120%;
    color: #fff;
}

@media(min-width:800px){
   
    .copy{
       padding-top: 4px;        
    }
    footer .contenedor{
        justify-content: space-around;
    }
}
@media(min-width:1000px){
    footer .contenedor{
        justify-content: space-between;
    }
}