header{
    display: flex;
    background-color: rgba(154, 162, 181, .9);
    width: 100%;
    height: 60px;    
    color: white;
    position: fixed;
    z-index: 80;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
header .contenedor{
    width: 50%;
}
.logo{
    display: flex;
    margin: 10px;
}
.logo img{
    height: 40px;
}

#menu-bar{
    display: none;
}

header label{
    float: left;
    font-size: 156.25%;
    margin: 15px;
    cursor: pointer;
}

.menu{
    position: absolute; 
    top: 60px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(154, 162, 181, .9);
    transition: all 0.5s;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    text-align: center;
}
.menu a:hover{
    color: #E0218A /*revisar si una vez con fondos, se ve este color */
}
#menu-bar:checked ~.menu{
    transform: translateX(0%);
}

@media(min-width: 1250px){ 
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: left;
        display: flex;
        background: transparent;
        font-size: 93.75%;
    }
    header label{display: none;}
}