@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

#inicio{
    position: relative;
    width: 100%;
    overflow: hidden;
}
#inicio img{
    width: auto;
    overflow: hidden;
}
#inicio .contenedor{
    width: 100%;
    max-width: 18rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#inicio h2{
    font-size: 300%;
    text-align: end;
    
}
#inicio p{
    font-size: 120%;
    text-align: end;
}
/* @media(min-width: 700px){
    #inicio .contenedor{
        max-width: 600px;
    } */

    /*#inicio img{
        width: 100vh;
        height: 100vw;
    }*/
